p.greetings {
  font-size: 1.2rem;
  margin: 0;
}

#about h1 {
  font-size: 2.9rem;
  margin: 0;
}

#about h2 {
  font-size: 2.8rem;
  color: var(--info-color);
  margin: 0;
}

p.description {
  font-size: 1rem;
  line-height: 1.35rem;
  width: 80%;
}

@media (max-width: 620px) {
  p.description {
    width: 100%;
  }
}