#about p.greetings {
  margin: 0;
  font-size: 1.2rem;
}

#about h1 {
  font-size: 3rem;
  margin: 0;
}

#about h2 {
  margin: 0;
  font-size: 3rem;
  color: var(--info-color);
}

#about p.description {
  width: 80%;
  font-size: 1rem;
  line-height: 1.35rem;
}

@media (max-width: 540px) {
  #about h1,
  #about h2 {
    font-size: 9vw;
  }
}

@media (max-width: 460px) {
  #about p.description {
    font-size: 0.9rem;
    width: 100%;
  }
}