#about p.greetings {
  margin: 0;
  font-size: 1.2rem;
}

#about h1 {
  font-size: 2.9rem;
  margin: 0;
}

#about h2 {
  margin: 0;
  font-size: 2.8rem;
  color: var(--info-color);
}

#about p.description {
  width: 80%;
  font-size: 1rem;
  line-height: 1.35rem;
}

@media (max-width: 460px) {
  #about p.description {
    width: 100%;
  }
}