.articles {
  background-color: darkseagreen;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
  transition: all 0.3s;
  width: 21rem;
}

.articles:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.portfolioImage {
  border-radius: 12px 12px 0 0;
  height: auto !important;
  max-width: 100% !important;
}

.portfolioDetails {
  padding: 1rem;
}

.portfolioDetails h4 {
  margin: 0;
}

.portfolioDetails p {
  font-size: 0.9rem;
  min-height: 2.125rem;
}

.icons {
  display: flex;
  filter: grayscale(100%);
  justify-content: space-between;
}

.articles:hover .icons {
  cursor: pointer;
  filter: none;
}

.icons .techs > div {
  margin-right: 1rem;
}

.icons .external > a {
  margin-left: 1rem;
}

.icons img {
  height: auto !important;
  width: 1.5rem !important;
}
