.articles {
  flex: 25%;
  max-width: 30%;
  margin: 1rem 1rem;
  display: flex;
  flex-direction: column;
  background-color: darkseagreen;
  border-radius: 12px;
  transition: all .2s;
}

.articles:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.portfolioImage {
  max-width: 100% !important;
  height: auto !important;
  border-radius: 12px 12px 0 0;
}

.portfolioDetails {
  padding: 1rem;
}

.portfolioDetails h4 {
  margin-top: 0;
}

.portfolioDetails p {
  font-size: 0.9rem;
}

.icons {
  display: flex;
  justify-content: space-between;
  filter: grayscale(100%);
}

.articles:hover .icons {
  cursor: pointer;
  filter: none;
}

.icons .techs > div {
  margin-right: 1rem;
}

.icons .external > a {
  margin-left: 1rem;
}

@media (max-width: 1024px) {
  .articles {
    flex: 45%;
    max-width: 45%;
  }
}

@media (max-width: 720px) {
  .articles {
    flex: 100%;
    max-width: 100%;
  }
  .articles > div:first-child {
    height: 350px;
  }
}

@media (max-width: 600px) {
  .articles > div:first-child {
    height: 250px;
  }
}

@media (max-width: 540px) {
  .articles > div:first-child {
    height: auto;
  }
}

@media (max-width: 350px) {
  .icons .techs > div {
    margin-right: 0.5rem;
  }
  .icons .techs > div > div > div {
    width: 25px;
  }
  .icons .external > a {
    margin-left: 0.5rem;
  }
  .icons .external > a > div > div > div {
    width: 25px;
  }
}

@media (max-width: 280px) {
  .icons .techs > div {
    margin-right: 0.5rem;
  }
  .icons .techs > div > div > div {
    width: 20px;
  }
  .icons .external > a {
    margin-left: 0.5rem;
  }
  .icons .external > a > div > div > div {
    width: 20px;
  }
}