.topBar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
}

.topBar .avatar {
  border-radius: 50%;
}

.navBar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 16rem;
}

.navBar button {
  background-color: transparent;
  border-radius: 6px;
  border-color: transparent;
  cursor: pointer;
  outline: transparent solid 2px;
  outline-offset: 2px;
  transition: all 250ms ease 0s;
  width: 4rem;
}

.navBar img {
  width: 2rem;
}

@media screen and (max-width: 360px) {
  .navBar button > a > div {
    width: 25px;
  }
}