.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.topBar .avatar {
  border-radius: 50%;
}

.navBar {
  width: 15rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

@media screen and (max-width: 640px) {
  .navBar button[title="LinkedIn"],
  .navBar button[title="GitHub"] {
    display: none;
  }
}

.navBar button {
  background-color: transparent;
  transition: all 250ms ease 0s;
  outline: transparent solid 2px;
  outline-offset: 2px;
  border-radius: 6px;
  border-color: transparent;
  cursor: pointer;
}

.navBar img {
  width: 2rem;
}