:root {
  --primary-color: #22c1c3;
  --secondary-color: #e0b455;
  --info-color: #12535D;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  user-select: none;
  background: var(--primary-color);
  background: linear-gradient(0deg, var(--primary-color) 0%, var(--secondary-color) 100%);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  padding: 0 2rem;
}

#about {
  padding-top: 3rem;
}

#about h1 {
  font-size: 3rem;
  margin: 0;
}

#about h2 {
  margin: 0;
  font-size: 3rem;
  color: var(--info-color);
}

#about p:first-of-type {
  margin: 0;
  font-size: 1.2rem;
}

#about p:last-of-type {
  width: 80vw;
  font-size: 1rem;
  line-height: 1.35rem;
}

section {
  margin-bottom: 3rem;
}

section .description h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

section .flexCards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}


.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  font-size: 0.8rem;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 110%;
  left: 50%;
  margin-left: -60px;
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 0.6s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}