:root {
  --primary-color: #22c1c3;
  --secondary-color: #e0b455;
  --info-color: #12535D;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0 2rem;
  margin: 0;
  max-width: 1200px;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  user-select: none;
  background: var(--primary-color);
  background: linear-gradient(0deg, var(--primary-color) 0%, var(--secondary-color) 100%);
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  margin-bottom: 3rem;
}

section .description h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

section .flexCards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
}

@media (max-width: 540px) {
  section .description h3 {
    font-size: 7vw;
  }
  section .description p {
    font-size: 4vw;
  }
}