:root {
  --primary-color: #00b09b;
  --secondary-color: #96c93d;
  --info-color: #12535d;
}

html {
  font-size: 16px;
}

@media (max-width: 560px) {
  html {
    font-size: 14px;
  }
  body {
    margin: 0;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 11px;
  }
}

@media (max-width: 240px) {
  html {
    font-size: 10px;
  }
}

* {
  box-sizing: border-box;
}

body {
  background: var(--primary-color);
  background: -moz-linear-gradient(right, var(--secondary-color), var(--primary-color));
  background: -webkit-linear-gradient(right, var(--secondary-color), var(--primary-color));
  background: linear-gradient(to right, var(--secondary-color), var(--primary-color));
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Cantarell, Fira Sans, Helvetica Neue, sans-serif;
  margin: auto;
  max-width: 1200px;
  padding: 0 2rem;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  margin-bottom: 3rem;
}

section .description h3 {
  font-size: 2.3rem;
  margin-bottom: 1rem;
}

section .flexCards {
  display: flex;
  flex-flow: row wrap;
}

footer {
  align-items: center;
  display: flex;
  font-size: 0.9rem;
  justify-content: space-between;
}

footer > a:hover {
  text-decoration: underline !important;
}
